.card-container {
    width: 230px;
    background-color: #fff;
    border-radius: 10px;
    padding: 4px;
    border: 2px solid #eee
}
.card-image {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image img {
    width: 150px;
}
.card-detail {
    background: #668dc7;
    border-radius: 10px;
    padding: 10px;
}
.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}
.card-category {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #eee;
}
.card-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-button {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-price {
    color: #fff;
    font-weight: 600;
}

.card-button {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.card-button:hover {
    background-color: rgb(14, 99, 226);
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición para el color de fondo y el color del texto */
}

